body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #fff;
    color: teal;
    padding: 20px;
    text-align: left;
    font-size: x-large;
}

header h2 {
    color: #333;
    text-align: left;
    font-size: 20px;
}

section {
    padding: 20px;
}

.column {
    background-color: #f2f2f2;
    margin: 10px 0;
    padding: 20px;
}

.column h2 {
    margin-top: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
}

/* Estilo específico para la imagen de la sección 2 */
.section-2 .image {
    justify-content: flex-start; /* Alineamos la imagen de la sección 2 a la izquierda */
    order: 1;
}
.section-2 .text {
    order: 2; /* Cambiamos el orden para que el texto aparezca después de la imagen */
    margin-right: 20px; /* Añadimos margen derecho para separar el texto de la imagen */
    justify-content: flex-start;
}

/* Estilo específico para las imágenes de las secciones 1 y 3 */
.section-1 .image,
.section-3 .image {
    justify-content: flex-end; /* Alineamos las imágenes de las secciones 1 y 3 a la derecha */
    margin-left: auto; /* Añadimos margen izquierdo automático para empujar las imágenes completamente a la derecha */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: center;
}

.footer-column {
    flex: 1;
    margin: 10px;
}

.footer-column h3 {
    color: #fff;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

}
